@font-face {
    font-family: 'cp_revengeregular';
    src: url('cp_revenge-webfont.woff2') format('woff2'),
         url('cp_revenge-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
    --color-font1: white;
    --color-font2: black;
    --color-font3: lightgray;
    --color-font4: red;
    box-sizing: border-box;
    font-family: 'cp_revengeregular', Arial, Helvetica, sans-serif;
    font-size: 15px; /* if passed into shadow dom, vim is calculated from shadow dom size */
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body, html {
    height:100%;
    overflow: hidden;
    width:100%;
}
a {
    color: var(--color-font1);
    outline: 0;
    text-decoration: none;
}
a:visited {
    color: var(--color-font3);
}
a.active, a:hover {
    color: var(--color-font4);
}
h1 {
    font-size: 3.8rem;
}
h2 {
    font-size: 3rem;
}
h3 {
    font-size: 2.2rem;
}
h4 {
    font-size: 1.4rem;
}
h1, h2, h3, h4 {
    margin: 1rem;
    margin-bottom: 1.5rem;
}
img {
    max-width: 100%;
    height: auto;
}
p {
    margin-bottom: 1rem;
}