#page {
    display: grid;
    grid-template-areas: "header"
                         "main"
                         "footer";
    grid-template-rows: minmax(100px, 1fr) minmax(auto, 75vh) minmax(100px, 1fr);
    grid-template-columns: 1fr;
    height: 100vh;
    width: 100vw;
}
header, footer {
    background-color: var(--color-font2);
    color: var(--color-font1);
}
header {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
}
header fetch-container {
    margin-left: 3px;
}
header menu-icon {
    margin: 3px;
}
footer {
    text-align: center;
}
footer * {
    font-size: 0.5rem;
    margin-top: 3px;
}
main {
    align-items: stretch;
    background-color: var(--color-font1);
    color: var(--color-font2);
    display: flex;
    justify-content: stretch;
    overflow-x: hidden;
    overflow-y: auto;
}
main > div#content {
    flex: 3;
}
main > div#content fetch-container {
    display: block;
    margin: 0 auto;
    max-width: 520px;
    width: 100%;
}
main > div#content fetch-container.html {
    padding: 10px;
}
main > div#content fetch-container.iframe {
    height: 100%;
    height: calc(100% - 4px); /* makes iframe sidebar disappear */
}
main > div#nav {
    background-color: #0f0f0e;
    flex: 0 0 auto;
    opacity: 0;
    position: sticky;
    top: 0;
    width: 0;
}
main > div#nav.open {
    animation: flexExpand 1s ease-out;
    flex: 1;
    opacity: 1;
}
@keyframes flexExpand {
    from {
        flex: 0 0 auto;
        opacity: 0;
    }
    to {
        flex: 1;
        opacity: 1;
    }
}
@media screen and (max-width: 699px) {
    main {
        flex-direction: column-reverse;
        overflow-y: hidden;
    }
    main > div#content {
        overflow-y: scroll;
    }
    main > div#nav {
        position: initial;
        height: 0;
        width: auto;
    }
}
main > div#nav fetch-href nav ul {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    list-style: none;
}