#page {
    display: grid;
    grid-template-areas: "header"
                         "main"
                         "footer";
    grid-template-rows: minmax(90px, 1fr) minmax(auto, 75vh) minmax(90px, 1fr);
    grid-template-columns: 1fr;
    height: 100vh;
    width: 100vw;
}
header, footer, main > nav {
    background-color: var(--color-font2);
    color: var(--color-font1);
    z-index: 100;
}
header, footer {
    box-shadow: 0 0 10px 1px var(--color-font2);
}
header {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
}
header fetch-container {
    margin-left: 3px;
}
header menu-icon {
    margin: 3px;
}
footer {
    text-align: center;
}
footer * {
    font-size: 0.5rem;
    margin-top: 3px;
}
main {
    background-color: var(--color-font1);
    color: var(--color-font2);
    display: flex;
    flex-flow: row;
    overflow: hidden;
}
main > div#content {
    flex: 2;
    overflow-x: hidden;
    overflow-y: auto;
}
main.open > div#content {
    word-break: break-all;
}
main > div#content fetch-container {
    display: block;
    margin: 0 auto;
    max-width: 520px;
    width: 100%;
}
main > div#content fetch-container.html {
    padding: 10px;
}
main > div#content fetch-container.iframe {
    height: 100%;
    height: calc(100% - 4px); /* makes iframe sidebar disappear */
}
main > nav {
    flex-grow: 0.00001;
    transition: flex-grow 300ms ease-out, width 100ms ease-out, height 100ms ease-out;
    width: 0;
}
main.open > nav {
    flex-grow: 1;
    width: auto;
}
main > nav fetch-href {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}
main > nav fetch-href a {
    border-bottom: solid 1px var(--color-font1);
    padding: 10px;
    text-align: center;
}
main > nav fetch-href a:first-child {
    border-top: solid 1px var(--color-font1);
}