html{
    height: 100%;
}
body{
    margin: 0;
    background-color: black;
    color: white;
    overflow-x: hidden;
    box-sizing: border-box;
    height: 100%;
}
a{
    color: white;
}
#gameDiv{
    position: inherit;
    text-align: center;
    width: 100%;
    height: 100%;
}
#gameDiv img{
    width: 100%;
    height: auto;
    /*vertical-align: middle;*/
    vertical-align: bottom;
}
.helper{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}